<div class="footer">
    <div class="social child ">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>

         
    </div>
    <div class="company child">
        <i class="fa-solid fa-w"></i>
        <p>Wanderlust Private Limited</p>
        
        
    </div>
    <div class="links child">
        <a>Privacy</a>
        <a>Terms</a>

    </div>
</div>