<%layout("./layouts/boilerplate.ejs")%>

<div class="new row">
    <div class="col-8">
        <form action="/listings/add" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            
            <div class="mb-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a valid title</div>
            </div>

            <div class="mb-4">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Enter description" required></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a valid description</div>
            </div>

            
            <div class="mb-4">
                <label for="image" class="form-label">Upload image</label>
                <input type="file" class="form-control" id="image" name="image" placeholder="Enter image URL" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Upload a valid file</div>
            </div>

            <div class="row">
                <div class="mb-4 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" id="price" name="price" placeholder="Enter price" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid price</div>
                </div>

                <div class="mb-4 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="country" placeholder="Enter country" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid country</div>
                </div>
            </div>

            <div class="mb-4">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a valid location</div>
            </div>

            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</div>
